Makefile
buildpkg.sh
config.h
config.h.in~
config.h.in
aclocal.m4
config.log
config.status
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openbsd-compat/include
openssh.xml
opensshd.init
survey.sh
**/*.o
**/*.lo
**/*.so
**/*.dylib
**/*.dll
**/*.out
**/*.a
**/*.un~
**/.*.swp
autom4te.cache/
!regress/misc/fuzz-harness/Makefile
!regress/unittests/sshsig/Makefile
tags
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
ssh-sk-helper
sshd
sshd-session
sshd-auth
hpnscp
hpnsftp
hpnsftp-server
hpnssh
hpnssh-add
hpnssh-agent
hpnssh-keygen
hpnssh-keyscan
hpnssh-keysign
hpnssh-pkcs11-helper
hpnssh-sk-helper
hpnsshd
hpnsshd-session
hpnsshd-auth
!regress/misc/**/Makefile
!regress/unittests/**/Makefile
tags
*.0
